$color-1 : #f6da22;
$color-2:  #3ab9aa;
$color-3: #1f154f;
$color-4: #ff0026;
$color-5: #ebd5ad;
$black: #000;
$white: #fff;

%font-family-bangers{
    font-family: 'Bangers', cursive;
    letter-spacing: .2em;
}
%font-family-opensans{
    font-family: 'Open Sans', sans-serif;
}
%font-family-notable{
    font-family: 'Notable', sans-serif;
}
