/*

Botões

*/

.button-container{
    display: flex;
    justify-content: center;
    .button{
        margin: 0 $base-number/2;
    }
 }
.button{
    @extend %font-family-bangers;
    background-color: $color-5;
    padding: $base-number;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1;
    transform-origin: center;
    transition: transform .25s ease-out, opacity .25s linear;
    color: $black;
    &::before, &::after{
        content: '';
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        transition: background-color .25s .15s linear, opacity .25s .15s linear;
    }
    &::before{
        background: $color-1;
        z-index: -1;
        transform: translateX(#{-$base-number/2}) skewX(15deg);
        width: calc(100% + #{$base-number});
    }
    &::after{
        border: solid 1px $color-2;
        transform: translate(0px, #{-$base-number/4}) skewX(15deg);
        width: 100%;
    }

    &:hover{
        transform: scale(1.05);
        z-index: 1;
        &::before{
            background-color: $color-5;
            transform: translateX(#{-$base-number/2}) skewX(15deg);
        }
    }
}

//botao desabilitado
.button--disabled::before{
    transition-delay: 1s;
    background-color: $gray;
}

// botao com resposta errada
.button--wrong::before{
    transition-delay: 1s;
    background-color: $color-4; 
}
//botao com resposta certa
.button--right{
    z-index: 1;
    transform: scale(1.1);
    &::before{
        transition-delay: 1s;    
        background-color: $color-1;
    }
}
//botao proximo
.button--next{
    @extend %font-family-opensans;
    &::before{
        background-color: $color-2; 
    }
    &::after{
        border-color: $color-1; 
    }
    &:disabled{
        opacity: .2;
        &::before{
            background-color: $gray;
        }
    }
}
//botao com largura normal
.button--auto{
    flex: none;
}