
/*

Carta

*/
%absolute-full{
    position: absolute;
    top:0; right:0; bottom:0 ; left: 0;
}
%flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
%flip-element-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s 0s;
    transform-style: preserve-3d;
}
%flip-element-side{
    @extend %absolute-full;
    backface-visibility: hidden;
}
%flip-element-backside{
    transform: rotateY(180deg);
}
%flip-element-turner{
    transform: rotateY(180deg);
}
%background-card{
    background: $black url("../img/card-pattern.jpg") no-repeat center;
}


.card{
    max-width: 320px;
    height: 480px;
    width: 100%;
    margin: auto;
    margin-bottom: $base-number*2;
    border-radius: $base-number;
    overflow: hidden;
}

.card-inner{
    @extend %flip-element-inner;
    background: $white;
    border-radius: $base-number;
}
.card-inner--show-back {
    @extend %flip-element-turner;
    transition-delay: .5s;
  }
.card-front, .card-back{
    @extend %flip-element-side;
}
.card-front{
    margin: $base-number;
}
.card-back{
    @extend %flip-element-backside;
    @extend %background-card;
}

.card__content{
    @extend %absolute-full;
    @extend %flex-column-center;
    @extend %background-card;
    padding: $base-number;
    border-radius: $base-number;
}


//área de imagem da carta

.card__image{
    width: $base-number*10;
    flex: 0 1 $base-number*10; 
    margin: 0 auto $base-number auto;
    position: relative;
    overflow: hidden;
}
.card__image-inner {
    @extend %flip-element-inner;
}
.card__image-inner--show-back {
    @extend %flip-element-turner;
    transition-delay: .5s;
  }
.card__image-front, .card__image-back{
    @extend %flip-element-side;
    border: solid 2px $color-1;
    border-radius: 50%; 
}
.card__image-front{
    background: $black url('../img/death-star.svg') no-repeat center center;
    background-size: 150px; 
}
.card__image-back{
    @extend %flip-element-backside;
}

// Apresentação de personagem com sprite na área de imagem da carta

.card-ch{
    background: url('../img/sw-sprite.jpg') no-repeat;
}

.card-ch--luke-skywalker{
    background-position: -320px -160px;
}
.card-ch--biggs-darklighter{
    background-position: -320px 0;
}
.card-ch--c-3po{
    background-position: -160px -160px;
}
.card-ch--darth-vader{
    background-position: -480px 0;
}
.card-ch--beru-whitesun-lars{
    background-position: 0 -320px;
}
.card-ch--leia-organa{
    background-position: -160px 0;
}
.card-ch--owen-lars{
    background-position: -480px -160px;
}
.card-ch--r5-d4{
    background-position: -640px 0;
}
.card-ch--r2-d2{
    background-position: -640px -160px;
}
.card-ch--obi-wan-kenobi{
    background-position: 0 -160px;
}

// container de características do personagem
.card__features-container{
    @extend %flex-column-center;
    border-radius: $base-number;
    margin: 0;
    padding: $base-number;
    flex: auto;
    background: rgba($white, .8);
}
// elemento de caracteristica
.card__feature-element{
    @extend %font-family-bangers;
    border: dashed 1px $color-3;
    padding: $base-number/2;
    background: rgba($color-5, .2);
    text-transform: uppercase;
    font-weight: bold;
    color: $color-3;
    & + &{
        margin-top: 4px;
    }
}