

@import '~sanitize.css';
@import 'variables.scss';
@import 'button.scss';
@import 'card.scss';

body{
    background: $black;
    color: $white;
    @extend %font-family-opensans;
}

//container do jogo
.game-container{
    width: 100%;
    padding: 0 $base-number;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

//título do jogo
.game-title{
    color: $white;
    @extend %font-family-notable;
    letter-spacing: 1em;
    margin: 0;
    margin-bottom: 1em;
}
.game-title__sw{
    font-size: 2em;
    color: $color-1;
    letter-spacing: .2em;
}

// painel de botões
.panel{
    transition: opacity 1s linear;
}
.panel--hidden{
    opacity: 0;
    pointer-events: none;
}

/*

Utilitários

*/

//valores de margem
.mb-2{
    margin-bottom: $base-number*2;
}

//texto
.text-center{
    text-align: center;
}

//cores

.color-3{
    color: $color-3;
}

/*

Elementos HTML

*/

button{
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    &:disabled{
        pointer-events: none;
        //color: inherit;
        // opacity: 0.5;
    }
}
ul{
    list-style: none;
}